<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 开启属性注入的注解 -->
	<context:annotation-config/>

	<!-- 引入外部属性文件=============================== -->
	<context:property-placeholder location="classpath:jdbc.properties" />

	<!-- 配置C3P0连接池=============================== -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClass}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<!-- 配置SessionFactory(整合Hibernate) -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<!-- 注入连接池 -->
		<property name="dataSource" ref="dataSource" />
		<!--配置Hibernate的相关属性,update为自动更新数据库信息 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- 引入映射文件 -->
		<property name="mappingResources">
			<list>
				<value>com/crm/domain/User.hbm.xml</value>
				<value>com/crm/domain/Customer.hbm.xml</value>
				<value>com/crm/domain/BaseDict.hbm.xml</value>
				<value>com/crm/domain/LinkMan.hbm.xml</value>
				<value>com/crm/domain/SaleVisit.hbm.xml</value>
			</list>
		</property>
	</bean>

	<!-- 配置User Action -->
	<bean id="userAction" class="com.crm.web.action.UserAction" scope="prototype">
		<!-- Action中注入Service -->
		<property name="userService" ref="userService" />
	</bean>

	<!-- 配置Service -->
	<bean id="userService" class="com.crm.service.impl.UserServiceImpl">
		<!-- Service中注入Dao -->
		<property name="userDao" ref="userDao" />
	</bean>

	<!-- 配置Dao -->
	<bean id="userDao" class="com.crm.dao.impl.UserDaoImpl">
		<!-- Dao中注入SessionFactory -->
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- 配置Customer Action -->
	<bean id="customerAction" class="com.crm.web.action.CustomerAction" scope="prototype">
		<!-- Action中注入Service -->
		<property name="customerService" ref="customerService" />
	</bean>

	<!-- 配置Service -->
	<bean id="customerService" class="com.crm.service.impl.CustomerServiceImpl">
		<!-- Service中注入Dao -->
		<property name="customerDao" ref="customerDao" />
	</bean>

	<!-- 配置Dao -->
	<bean id="customerDao" class="com.crm.dao.impl.CustomerDaoImpl">
		<!-- Dao中注入SessionFactory -->
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- 配置BaseDict Action -->
	<bean id="baseDictAction" class="com.crm.web.action.BaseDictAction" scope="prototype">
		<!-- Action中注入Service -->
		<property name="baseDictService" ref="baseDictService" />
	</bean>

	<!-- 配置Service -->
	<bean id="baseDictService" class="com.crm.service.impl.BaseDictServiceImpl">
		<!-- Service中注入Dao -->
		<property name="baseDictDao" ref="baseDictDao" />
	</bean>

	<!-- 配置Dao -->
	<bean id="baseDictDao" class="com.crm.dao.impl.BaseDictDaoImpl">
		<!-- Dao中注入SessionFactory -->
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- 配置LinkMan Action,需要加prototype -->
	<bean id="linkManAction" class="com.crm.web.action.LinkManAction" scope="prototype">
		<!-- Action中注入Service -->
		<property name="linkManService" ref="linkManService" />
		<property name="customerService" ref="customerService" />
	</bean>

	<!-- 配置Service -->
	<bean id="linkManService" class="com.crm.service.impl.LinkManServiceImpl">
		<!-- Service中注入Dao -->
		<property name="linkManDao" ref="linkManDao" />
	</bean>

	<!-- 配置Dao -->
	<bean id="linkManDao" class="com.crm.dao.impl.LinkManDaoImpl">
		<!-- Dao中注入SessionFactory -->
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- 配置SaleVisit Action,与之前不同，这次采用纯注解的方式，使用前要开启属性注入 -->
	<bean id="saleVisitAction" class="com.crm.web.action.SaleVisitAction" scope="prototype">
	</bean>

	<!-- 配置Service -->
	<bean id="saleVisitService" class="com.crm.service.impl.SaleVisitServiceImpl">
	</bean>

	<!-- 配置Dao -->
	<bean id="saleVisitDao" class="com.crm.dao.impl.SaleVisitDaoImpl">
		<!-- 这里用不了纯注解注入，因此采用以前的方式 -->
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- 配置事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
</beans>
